body {
	width: 100%;
	height: 100%;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	color: black;
	background-color: white;
	align-items: center;
}

html {
	width: 100%;
	height: 100%;
}

h1 {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h2 {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 22px;
}

p {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
}

blockquote {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

@media (min-width: 768px) {
	p {
		margin: 0 0 35px;
		font-size: 20px;
		line-height: 1.6;
	}
}

a {
	color: #3152b3;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #3152b3;
}

.light {
	font-weight: 400;
}

.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #3152b3;
	background: url(../img/tree-bridge.png) no-repeat bottom center scroll;
	background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}

.intro .intro-body .brand-heading {
	padding: 5px;
	margin: 5px;
	font-size: 40px;
}

.intro .intro-body .intro-text {
	padding: 5px;
	margin: 5px;
	font-size: 18px;
}
@media (min-width: 768px) {
	.intro {
		height: 100%;
		padding: 5px;
	}
	.intro .intro-body .brand-heading {
		font-size: 100px;
		padding: 5px;
		margin: 5px;
	}
	.intro .intro-body .intro-text {
		font-size: 26px;
		padding: 5px;
		margin: 5px;
	}
}

#values {
	background: url("../img/placeholder-hippo.png");
}

.btn-circle {
	width: 70px;
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #3152b3;
	border-radius: 100% !important;
	font-size: 40px;
	color: #3152b3;
	background: transparent;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
	outline: none;
	color: white;
	background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;
	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-moz-transform: scale(1.2);
		transform: scale(1.2);
	}

	100% {
		-moz-transform: scale(1);
		transform: scale(1);
	}
}

.content-section {
	padding-top: 100px;
}

.our-work-section {
	width: 100%;
	padding: 50px 0;
	color: white;
	background: url(../img/placeholder-hidden.png) no-repeat center center scroll;
	background-color: black;
	-webkit-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

@media (min-width: 767px) {
	.content-section {
		padding-top: 250px;
	}
	.our-work-section {
		padding: 100px 0;
	}
}

.btn {
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 0;
}

.btn-default {
	border: 1px solid #3152b3;
	color: #3152b3;
	background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
	border: 1px solid #3152b3;
	outline: none;
	color: black;
	background-color: #3152b3;
}

ul.banner-social-buttons {
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		margin-top: 15px;
	}
}

@media (max-width: 767px) {
	ul.banner-social-buttons li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons li:last-child {
		margin-bottom: 0;
	}
}

footer {
	padding: 50px 0;
}

footer p {
	margin: 0;
}

::-moz-selection {
	text-shadow: none;
}

::selection {
	text-shadow: none;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}